
input[type=search] {
    padding: 10px;
    border-radius: 30px;
    border-width: 4px;
    font-family: "Poppins", sans-serif;
    border-color: #98bbf0;
    font-weight: lighter;
}
.form-style {
    padding: 10px;
}

.form-styling {
    border: 100px solid lightskyblue;

}
.boxed {
    width: 150px;
    border: 3px solid rgb(69, 122, 192) ;
}

.my-container {
    max-width: 600px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 25px 30px 20px 30px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}
.heading {
    padding: 5px 10px 10px 10px;
    color:  #222;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
    font-style: bold;
}
.weather-icon {
    display: block;
    margin-left: -25px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.style-wind{
    padding-right: 100px;
    font-family: 'Rajdhani', sans-serif;
}



#date {
    padding-left: 17px;
    color: grey;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
}
#description {
    display: block;
    text-align: left;
    color:#048998;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
#description:first-letter{
    text-transform: capitalize;
}
#temperature {
    font-size: 80px;

}
#weather-units {
    margin-left: 5px;
    font-size: 18px;
    position: relative;
    top: -38px;
    
}

#weather-units a {
    text-decoration: none;
}

#weather-units .active {
    color: black;
    cursor: default;
}
#weather-units .active:hover {
    text-decoration: none;
}
#current-location-button {
    background:#70c6f8;
    width: 100px;
    height: 40px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 5px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    border: 1px solid #2daef8;
}
small {
display: block;
text-align: center;
font-size: 10px;
font-family: "Poppins", sans-serif;
margin-top: -10px;

}

.weather-forecast {
    text-align: center;
    margin-left: -20px;
    margin-bottom: -35px;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px 30px 50px 30px;
}
.weather-forecast-date {
    color: #048998;
}
.weather-forecast-temperature-min {
    opacity: 0.5;
}